
.homePageWrapper {
  background: #0d1422;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #172a3a;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  font-size: 20px;
  color: #d2ed76;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 95px;
  margin-bottom: 15px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  background: #87ff5e ;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #4194d6;
  width: 100px;
  margin: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #2b824c;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #d2ed76;
  text-decoration: none;
  border-bottom: 1px solid #d2ed76;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
}

.mainWrap {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.aside {
  background: #191941;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid red;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn,.copyBtn {
  width: 100%;
  margin-top: 10px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}
.divbtn2{
  background: #191941;
}
@media only screen and (max-width: 780px){
  .mainWrap {
    display: flex;
    flex-direction: column;
  }
  .aside {
    background: #191941;
    padding: 16px;
    color: #fff;
    display: flex;
  }
  .asideInner {
    display: flex;
  }
  .logo{
    margin-right: 20px;
  }
  .h3connected{
    display: none;
  }
  .divbtn{
    display: none;
  }
  .leaveBtn,.copyBtn {
    width: auto;
    margin-left: 20%;
  }
  
}


@media only screen and (min-width: 780px){
  .divbtn2{
    display: none;
  }
}